@()(implicit request: RequestHeader)

@main("Bullet Journal") {
  <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
  <input type="hidden" id="createRoute" value="@routes.LoginController.createUser()">
  <input type="hidden" id="validateRoute" value="@routes.LoginController.validateUser()">
  <body>
    <div id = "reactRoot"></div>
  </body> 
  <script type="module" src="@routes.Assets.at("materialize/js/materialize.js")"></script>
  <script type="module" src="@routes.Assets.versioned("javascript/login.js")"></script>
  <script type="module" src="@routes.Assets.versioned("javascript/home.js")"></script>
}
