@()(implicit request: RequestHeader)

@main("Bullet Journal") {
  <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
  <input type="hidden" id="createRoute" value="@routes.LoginController.createUser()">
  <input type="hidden" id="validateRoute" value="@routes.LoginController.validateUser()">
  <input type="hidden" id="allTasksRoute" value="@routes.MainController.getAllTasks()">
  <input type="hidden" id="addTaskRoute" value="@routes.MainController.addTask()">
  <input type="hidden" id="editTaskRoute" value="@routes.MainController.editTask()">
  <input type="hidden" id="deleteTaskRoute" value="@routes.MainController.deleteTask()">
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  
  <body>
    <div id = "reactRoot"></div>
  </body> 
  <script type="module" src="@routes.Assets.at("materialize/js/materialize.js")"></script>
  <script type="module" src="@routes.Assets.versioned("javascript/login.js")"></script>
  <script type="module" src="@routes.Assets.versioned("javascript/taskList.js")"></script>
}
